<section class="container">
<h2 class='mt-3'><%= t('signin') %></h2>
<%= form_with url: login_path do |f| %>
  <%= f.text_field :email, placeholder: 'E-mail' %>
  <%= f.text_field :password, placeholder: 'Password' %>
  <%= f.submit t('submit'), method: 'POST'  %>
<% end %>
</section>