<section class="container-fluid">
<div class='sign_in rounded shadow mt-5 px-4 pt-4 pb-2'>
  <h2 class='text-primary'><%= t('signin') %></h2>
<%= form_with url: login_path, method:'POST', class: 'd-flex flex-wrap' do |f| %>
  <%= f.text_field :email, placeholder: 'E-mail', class: 'w-100 mt-3 px-2' %>
  <%= f.text_field :password, placeholder: 'Password', class: 'w-100 mt-3 px-2' %>
  <%= f.submit t('submit'), class: 'btn btn-primary mt-3 mx-auto' %>
  <p class='w-100 mt-5'><%= t('NewUser') %><%= link_to t('signup'), signup_path, class: '' %></p>
<% end %>
</div>
</section>