<div class='container-fluid'>
  <%= link_to t('new_task'), new_task_path, class: 'text-parimary d-inline-block
' %>
  <form class='d-inline-block'>

  </form>
</div>

<%= form_tag(tasks_path, method: 'get', class: 'd-inline-block') do %>
  <%= select_tag(:status, options_for_select([[User.human_attribute_name('pending'),'pending'], [User.human_attribute_name('processing'),'processing'], [User.human_attribute_name('completed'),'completed']]), include_blank: t('choose_status')) %>
  <%= text_field_tag(:title, nil, placeholder: 'Search') %>
  <%= submit_tag("Search") %>
<% end %>
