<%= render './shared/topbar' %>
<section class="container-fluid">
  <h2 class='mt-3'><%= t('TaskLists') %></h2>
  <%= render 'search', q: @q %>
  <%= content_tag :table, class: 'table mt-3' do %>
    <thead>
      <tr>
        <%= content_tag :th, sort_link(@q, 'sort_list_sort', 'No') %>
        <%= content_tag :th, sort_link(@q, 'priority', Task.human_attribute_name('priority')) %>
        <%= content_tag :th, sort_link(@q, 'created_at', Task.human_attribute_name('created_at')) %>
        <th><%= Task.human_attribute_name('title') %></th>
        <th><%= Task.human_attribute_name('content') %></th>
        <th><%= TaskTag.human_attribute_name('label') %></th>
        <%= content_tag :th, sort_link(@q, 'start_at', Task.human_attribute_name('start_at')) %>
        <%= content_tag :th, sort_link(@q, 'deadline_at', Task.human_attribute_name('deadline_at')) %>
        <th colspan='2'><%= Task.human_attribute_name('status') %></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr class='list'>
        <td class='index'><%= task.sort_list.sort + 1 %></td>
        <td class='priority'><%= Task.human_attribute_name(task.priority) %></td>
        <td class='created_at'><%= task.created_at.to_s(:taskdate) %></td>
        <td class='title'><%= link_to task_path(task.id) do %><%= truncate(task.title) %><% end %></td>
        <td class='content'><%= link_to task_path(task.id) do %><%= truncate(task.content) %><% end %></td>
        <td class='tags'>
          <% if !task.tags.nil? %>
            <% task.tags.each do |tag| %>
              <span class='tag'><%= tag.label %></span>
            <% end %>
          <% end %>
        </td>
        <td class='start_at'><%= task.start_at.to_s(:taskdate) %></td>
        <td class='deadline_at'><%= task.deadline_at.to_s(:taskdate) %></td>
        <td class='status'><%= Task.human_attribute_name(task.status) %></td>
        <td><%= link_to t('edit'), edit_task_path(task), class:'mr-3' %><%= link_to t('delete'), task_path(task), method: 'DELETE' %></td>
      </tr>
      <% end %>
    </tbody>
  <% end %>
</section>
<%= paginate @tasks %>