<h2><%= t('TaskLists') %></h2>
<div><%= link_to t('new_task'), new_task_path %></div>
<div class="lists">
  <section class="task_cards">
  <% @tasks.each do |task| %>
    <article class="card">
      <section class="title">
        <h2><%= t('title') %></h2>
        <div><%= task.title %></div>
      </section>

      <section class="content">
        <h2><%= t('content') %></h2>
        <div><%= task.content %></div>
      </section>

      <section>
        <h2><%= t('priority') %></h2>
        <div><%= task.priority %></div>
      </section>

      <section>
        <h2><%= t('status') %></h2>
        <div><%= task.status %></div>
      </section>

      <section>
        <h2><%= t('start_at') %></h2>
        <div><%= task.start_at %></div>
      </section>

      <section>
        <h2><%= t('deadline_at') %></h2>
        <div><%= task.deadline_at %></div>
      </section>

      <section class="options">
        <ul>
          <li><%= link_to t('Edit'), edit_task_path(task) %></li>
          <li><%= link_to t('Delete'), task_path(task), method: 'DELETE' %></li>
        </ul>
      </section>
    </article>
    <% end %>
  </section>
</div>
