<%= render 'shared/topbar' %>
<section class="container-fluid">
<h2 class='mt-3'><%= t('TaskDetail') %>( <%= @task.user.username %> )</h2>
<table class='table'>
  <%= render 'shared/taskshow', task: @task %>
  <tfoot>
    <tr>
      <td colspan='2'>
        <div class='button mt-3 mb-5 d-flex justify-content-end'>
          <%= link_to t('back'), tasks_user_path(@task.user_id), class: 'border-bottom border-secondary shadow btn btn-md btn-default px-3 py-2 mr-auto' %>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
</section>