<%= render 'topbar' %>
<section class="container-fluid">
  <h2 class='mt-3'><%= t('TaskLists') %></h2>
  <p><%= t('setting_sort') %></p>
  <table class='table mt-3'>
    <thead>
      <tr>
        <th><%= Task.human_attribute_name('priority') %></th>
        <th><%= Task.human_attribute_name('created_at') %></th>
        <th><%= Task.human_attribute_name('title') %></th>
        <th><%= Task.human_attribute_name('content') %></th>
        <th><%= TaskTag.human_attribute_name('label') %></th>
        <th><%= Task.human_attribute_name('start_at') %></th>
        <th><%= Task.human_attribute_name('deadline_at') %></th>
        <th><%= Task.human_attribute_name('status') %></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr class='list'>
        <td class='priority'><%= Task.human_attribute_name(task.priority) %></td>
        <td class='created_at'><%= task.created_at.to_s(:taskdate) %></td>
        <td class='title'><%= truncate(task.title) %></td>
        <td class='content'><%= truncate(task.content) %></td>
        <td class='tags'>
          <% if !task.tags.nil? %>
            <% task.tags.each do |tag| %>
              <span class='tag'><%= tag.label %></span>
            <% end %>
          <% end %>
        </td>
        <td class='start_at'><%= task.start_at.to_s(:taskdate) %></td>
        <td class='deadline_at'><%= task.deadline_at.to_s(:taskdate) %></td>
        <td class='status'><%= Task.human_attribute_name(task.status) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
<%= javascript_pack_tag 'application' %>