<section class="container-fluid">
<h2 class='mt-3'><%= t('edit_user') %></h2>
<%= simple_form_for @user do |f| %>
  <%= f.input :username, label: t('user_name') %>
  <%= f.input :password, label: t('password'), type:'password' %>
  <% if current_user.role == 'admin' %>
    <%= f.input :role, label: t('role'), required: false, as: :radio_buttons, collection: [[User.human_attribute_name('admin'), 'admin'], [User.human_attribute_name('member'), 'member']], checked: 'member' %>
  <% end %>
<%= f.submit t('submit'), method: 'POST' %>
<% end %>
</section>