<%= render './shared/topbar' %>
<section class="container-fluid">
<h2 class='mt-3'><%= t('UserLists') %></h2>
<table class='table mt-3'>
  <thead>
    <tr>
      <th><%= t('user_name') %></th>
      <th><%= t('email') %></th>
      <th><%= t('task_count') %></th>
      <th><%= t('role') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= link_to user_path(user.id) do %><%= user.tasks_count %>
      <% end %></td>
      <td><%= User.human_attribute_name(user.role) %></td>
      <td><%= link_to t('edit'), edit_user_path(user), class: 'mr-3' %><%= link_to t('delete'), user_path(user), method: 'delete' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</section>
<%= paginate @users %>