<section class="container">
<% if current_user.role == 'member' %>
  <h2 class='mt-3'><%= t('signup') %></h2>
<% else %>
  <h2 class='mt-3'><%= t('new_user') %></h2>
<% end %>
<%= simple_form_for @user do |f| %>
  <%= f.input :username, label: false, placeholder: 'User Name' %>
  <%= f.input :email, label:false, placeholder: 'E-mail' %>
  <%= f.input :password, label: false, placeholder: 'Password', type: 'password' %>
  <% if current_user.role == 'admin' %>
    <%= f.input :role, label: t('role'), required: false, as: :radio_buttons, collection: [[User.human_attribute_name('admin'), 'admin'], [User.human_attribute_name('member'), 'member']], checked: 'member' %>
  <% end %>
<%= f.submit t('submit'), method: 'POST' %>
<% end %>
</section>