<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
    <div class='container-fluid'>
      <span class='notice'><%= flash[:notice] %></span>
      <div class='pt-3 container-fluid d-flex justify-content-between'>
        <ul class='d-flex pl-0'>
          <% if logged_in? %>
            <li>Hello, <%= current_user.username %></li>
            <li class='ml-5'><%= link_to t('signout'), logout_path, method:'delete' %></li>
          <% else %>
            <li class='mr-5'><%= link_to t('signin'), login_path %></li>
            <li><%= link_to t('signup'), signup_path %></li>
          <% end %>
        </ul>
        <ul class='d-flex'>
          <% if current_user && current_user.role == 'admin' %>
          <li><%= link_to 'Admin', users_path %></li>
          <% end %>
          <li class='ml-5'><%= link_to '中文', :locale => "zh-TW" %></li>
          <li class='ml-5'><%= link_to 'English', :locale => "en" %></li>
        </ul>
      </div>
      <div class='container'>
        <h1 class='text-center pt-2'><%= t('TaskManagement') %></h1>
      </div>
    </div>
    <div class='container-fluid'>
      <%= yield %>
    </div>
  </body>
</html>
