<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid'>
      <ul class='pt-1 d-flex justify-content-end'>
        <li class='ml-5'><%= link_to t('signin'), signin_path %></li>
        <li class='ml-5'><%= link_to t('signup'), signup_path %></li>
        <li class='ml-5'><%= link_to t('signout') %></li>
      </ul>
      <h1 class='text-center pt-2'><%= t('TaskManagement') %></h1>
      <div class='lan_change'>
        <ul class='d-flex justify-content-end'>
          <li class='notice mr-auto'><%= flash[:notice] %></li>
          <li class='ml-5'><%= link_to '中文', :locale => "zh-TW" %></li>
          <li class='ml-5'><%= link_to 'English', :locale => "en" %></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
